; Config::Simple 4.59
; Sat Jan 20 22:15:38 2018

[BASE]
PORT=7007
FRITZBOX_ENABLE=1
FRITZBOX=fritz.box
FRITZBOX_PORT=49443
FRITZBOX_USER=
FRITZBOX_PASS=
USERS=0
CRON=3
ENABLED=0
ACTIVE_SCAN=1
USE_CACHE=1
UDP_ENABLE=1
PING_CMD=0
LOGMAX=500
TOKEN=
